/* GLOBAL STYLES */
body {
  font-family: monaco;
  background: #333;
  padding-top: 10em;
  padding-right: 200px;
  padding-bottom: 10px;
  padding-left: 200px;
  display: flex;
}

* { color:#fff; text-decoration: none;}